#wtwitter-root{}
#wtwitter-root .wtwitter-timeline-header
{
    padding: 10px;
}
#wtwitter-root .wtwitter-timeline-header img
{

}
#wtwitter-root .wtwitter-timeline-header > span
{
    position: relative;
    margin-left: 10px;
    top: -5px;
}
#wtwitter-root .wtwitter-timeline-header .wtwitter-username{}
#wtwitter-root .wtwitter-timeline-header .wtwitter-screenname
{
    position: absolute;
    top:15px;
    left: 0px;
}
#wtwitter-root .wtwitter-timeline-stream
{
    color: #333333;
    margin-left: 1px;
    margin-right: 1px;
    height: 200px;
    overflow: auto;
    font-size: 12px;
}
#wtwitter-root .wtwitter-timeline-stream li
{
    padding: 10px 15px;
    border-bottom: solid 1px transparent;
}
#wtwitter-root .wtwitter-timeline-stream li .wtwitter-header,
#wtwitter-root .wtwitter-timeline-stream li .wtwitter-content,
#wtwitter-root .wtwitter-timeline-stream li .wtwitter-footer
{
    margin-bottom: 5px;
}


#wtwitter-root .wtwitter-timeline-stream li .wtwitter-date-time span
{
    margin-right: 3px;
}

#wtwitter-root .wtwitter-timeline-stream li .wtwitter-text{}
#wtwitter-root .wtwitter-timeline-stream li .wtwitter-text a{}
#wtwitter-root .wtwitter-timeline-stream li .wtwitter-text a:hover
{
    text-decoration: underline;
}
#wtwitter-root .wtwitter-timeline-stream li .wtwitter-text a.wtwitter-author{}
#wtwitter-root .wtwitter-timeline-stream li .wtwitter-text a.wtwitter-hashtag{}
#wtwitter-root .wtwitter-timeline-stream li .wtwitter-text a.wtwitter-media
{
    display: block;
    text-align: center;
}
#wtwitter-root .wtwitter-timeline-stream li .wtwitter-text img{}
#wtwitter-root .wtwitter-timeline-stream li .wtwitter-text img.wtwitter-media-source{}
#wtwitter-root .wtwitter-timeline-footer
{
    padding: 10px;
}

#wtwitter-root .wtwitter-timeline-footer a
{
    padding: 5px 14px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    display: block;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 2px;
    font-size: 14px;
}

#wtwitter-root .wtwitter-timeline-footer a:focus,
#wtwitter-root .wtwitter-timeline-footer a:active:focus,
#wtwitter-root .wtwitter-timeline-footer a.active:focus
{
    outline: 0 none;
}

/**------------Estilo por defecto---------------------*/
#wtwitter-root{background-color: #CC0000;}
#wtwitter-root .wtwitter-timeline-stream{background-color: #FFFFFF;}
#wtwitter-root .wtwitter-timeline-stream li{border-bottom-color:#CC0000;}
#wtwitter-root .wtwitter-timeline-stream li .wtwitter-text{color:#333333;}
#wtwitter-root .wtwitter-timeline-stream li .wtwitter-text a{color: #CC0000;}
#wtwitter-root .wtwitter-timeline-footer a.wtwitter-button-seguir{background: #0099cc;color: #ffffff;}
#wtwitter-root .wtwitter-timeline-footer a.wtwitter-button-seguir:hover,
#wtwitter-root .wtwitter-timeline-footer a.wtwitter-button-seguir:focus,
#wtwitter-root .wtwitter-timeline-footer a.wtwitter-button-seguir:active,
{background: #33a6cc;color: #ffffff;}
#wtwitter-root .wtwitter-timeline-footer a.wtwitter-button-twittear{background: #609DBF;color: #ffffff;}
#wtwitter-root .wtwitter-timeline-footer a.wtwitter-button-twittear:hover,
#wtwitter-root .wtwitter-timeline-footer a.wtwitter-button-twittear:focus,
#wtwitter-root .wtwitter-timeline-footer a.wtwitter-button-twittear:active,
{background: #447A98;color: #ffffff;}
/*----------------------------------------------------*/

.wtwitter-icon
{
    width: 24px;
    height: 24px;
    display: block;
}


.wtwitter-icon-replay
{
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAYCAYAAAC8/X7cAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABh0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzT7MfTgAAABZ0RVh0Q3JlYXRpb24gVGltZQAwMy8xNi8xNV5PTl8AAAHmSURBVFiF7Zc9Sx1BFIafG01IAilMinR2gVQWQUL+gkLQpA5YCLewCAk2L5ZWJ2AgEWwGtEthIVjYJeTriiJikUYlRQKS9pJCLILFptgVJpudnbvshUW4LyzM7Dn7zDnMx5ltJUnCZdaVpgOoq0ECTevSJzDsd5xzZb4TwBCwVWRst9u1ApE0AQyZWSE/pOG4CzeBZWAWOAeuVQ8vLEm1+LEExoB14H7Wv1o1wDJJqs0v2wNzwJ4H76sk9YVfNAO3gVVgug44JEl95ecTeEQ6paMl3/il+zewTbqGP8QGkxTlS/L5XeArsGxmn4v880voTRm8QCPAY+C9c+6tc64V8a/KvwM8AT5JWipyyCfwEjipMICv58BCxKcOf17Si/zLfAK7wANgswQ0nj0PgRngu2dbcM7dDX1oZlX448Az4IdnW5Q04jsXbeIu8JT0FFoCrufsB157H/gIHAK3SGvGFBCsiGbWlRTkm5nPP5DUAY6BG9kYk8C7C4fQMZoAK6Sb+jgUTKZfWRIXih6LZpaYWU98MzsBOt6re749dhf6RjqVa1n/POC347WPIkw/uF75X7z2Pwn3cpU4Iy3zG4Qr5WvSzfmH8vX9n8zsDJiVVMZ/BfwETvN3pdbgj6xhDRJoWoMEmtZftS6C3oRCu+gAAAAASUVORK5CYII=') no-repeat 0px 0px transparent;
}
.wtwitter-icon-retweet
{
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAYCAYAAAC8/X7cAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABh0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzT7MfTgAAABZ0RVh0Q3JlYXRpb24gVGltZQAwMy8xNi8xNV5PTl8AAAHQSURBVFiF7ZexahVREIa/qxZWVjaCRfIE1lZWXhtJZ2FhBMHfEItAqnkAi7/SKqIjgjaihZVdShvTig8QBZuAWqkEAl6bNe7u3bu7bJRL4P7dmTnznRnOYWZ3NJlMOM46Me8EjqpFAfPWooB561TdkJmngXvAKrAiaaewrwNbLawnwKak720HRkSFb3unsPfi267wR+U2mpkngZvA08L0HrgEHACvgKttyQFLkj61JH9kvu0Kv/6ELgKPSusLwHNJP4HXQNfQGHX4G/m2B/MPbyAzzwNvgeWGwAeSNpuImbkNXC6Wy5I+Nu2LiFa+7UZ+RFT4tiv88g1szYAD3M7M6zN8fdXKj4hB/HIBey37fgDfhhzwv/mj+rdQZi4Bu8VyW9KVelBmjoFnwLkZ3MeS1pocEVHh257iR0Qn3/YaDJ8DZ4EzLf5ZB/9z/qACJL3gbyusaxe4O4T7R7Z786cGWU3jzGxqbauSNorntlKyHwA3JH3umes4Ihr5tjeK5zbFt33Ib7qBPj8I14qJfQv4ULLfAd51xPbiFxO7k99UwBfgYccBbyTtS/oKrBcx94GXkn51xPbi2963PcW3XeFPdaHjpmP/NbooYN5aFDBv/QYJC7RVtOrAhQAAAABJRU5ErkJggg==') no-repeat 0px 0px transparent;
}
.wtwitter-icon-favorite
{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAYCAYAAAC8/X7cAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABh0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzT7MfTgAAABZ0RVh0Q3JlYXRpb24gVGltZQAwMy8xNi8xNV5PTl8AAAHfSURBVFiF7Zc9axRRFIafNYmmsFgkwcJ2uxCiWBjLkOy2S7A1W54iPyCcn3DwBwieTrRKOltTJE0+wE7/QrAQwopCEDZMmhFmZ+fjzuwuy0JeGLhz77nPvC/cuXemEUUR86wHszYwru4DzFqLoYXuvgCcABGwJSK3kzSiqkN8MwviBwcAXgKv4vYL4FsVg9PiV1lCbWApvjqVrE2RXyVAN6c9KdXiBwVw9wawkeh6HvqAEKlqbX4jfZC5+zpwADxKdD8BtlNzvwL9xP0/4J2IfC8xOxbfzIb4WS/xJvC2yESsdkbfKVAYYEz+SZqftYTOgMOAB6R1GM8t00T5I0sIwN2bgAA9YK0E/AP4BHwQkd8hTlS1Ft/MRviZAf7L3V8DR8CznJIr4I2IXAb4HpGqBvHNLJdfuAuJyDlwU1ByU9c8gJmV8ovMQ0kAd+8ArYKSVlxTS6payo9rclV2Duwl2gPgIr4Gif6QHWVq/Nx3wN0XgV9AE/gLHCdgn4Ed4DFwDTwVkUEWJ0+qWolvZpn8oo+5FeAh8Ad4LyKaGNt1dwP2gWVgFfhZJUCab2ZDfFUN4pftQj2gLyJfcsa7QFNEPlY0D4Cq9oC+mWXyVbULNM0sl18YYB40939k9wFmrTtVRa7KmSYEJwAAAABJRU5ErkJggg==') no-repeat 0px 0px transparent;
}

.wtwitter-icon-replay:hover,
.wtwitter-icon-replay:active,
.wtwitter-icon-replay:focus,
.wtwitter-icon-retweet:hover,
.wtwitter-icon-retweet:active,
.wtwitter-icon-retweet:focus,
.wtwitter-icon-favorite:hover,
.wtwitter-icon-favorite:active,
.wtwitter-icon-favorite:focus
{
    background-position: 24px 0px;
}