#wtwitter-root{}
#wtwitter-root .wtwitter-timeline-header
{
    padding: 10px;
}
#wtwitter-root .wtwitter-timeline-header img
{

}
#wtwitter-root .wtwitter-timeline-header > span
{
    position: relative;
    margin-left: 10px;
    top: -5px;
}
#wtwitter-root .wtwitter-timeline-header .wtwitter-username{}
#wtwitter-root .wtwitter-timeline-header .wtwitter-screenname
{
    position: absolute;
    top:15px;
    left: 0px;
}
#wtwitter-root .wtwitter-timeline-stream
{
    color: #333333;
    margin-left: 1px;
    margin-right: 1px;
    height: 200px;
    overflow: auto;
    font-size: 12px;
}
#wtwitter-root .wtwitter-timeline-stream li
{
    padding: 10px 15px;
    border-bottom: solid 1px transparent;
}
#wtwitter-root .wtwitter-timeline-stream li .wtwitter-text{}
#wtwitter-root .wtwitter-timeline-stream li .wtwitter-text a{}
#wtwitter-root .wtwitter-timeline-stream li .wtwitter-text a:hover
{
    text-decoration: underline;
}
#wtwitter-root .wtwitter-timeline-stream li .wtwitter-text a.wtwitter-author{}
#wtwitter-root .wtwitter-timeline-stream li .wtwitter-text a.wtwitter-hashtag{}
#wtwitter-root .wtwitter-timeline-stream li .wtwitter-text a.wtwitter-media
{
    display: block;
    text-align: center;
}
#wtwitter-root .wtwitter-timeline-stream li .wtwitter-text img{}
#wtwitter-root .wtwitter-timeline-stream li .wtwitter-text img.wtwitter-media-source{}
#wtwitter-root .wtwitter-timeline-footer
{
    padding: 10px;
}

#wtwitter-root .wtwitter-timeline-footer a
{
    padding: 5px 14px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    display: block;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 2px;
    font-size: 14px;
}

#wtwitter-root .wtwitter-timeline-footer a:focus,
#wtwitter-root .wtwitter-timeline-footer a:active:focus,
#wtwitter-root .wtwitter-timeline-footer a.active:focus
{
    outline: 0 none;
}

/**------------Estilo por defecto---------------------*/
#wtwitter-root{background-color: #CC0000;}
#wtwitter-root .wtwitter-timeline-stream{background-color: #FFFFFF;}
#wtwitter-root .wtwitter-timeline-stream li{border-bottom-color:#CC0000;}
#wtwitter-root .wtwitter-timeline-stream li .wtwitter-text{color:#333333;}
#wtwitter-root .wtwitter-timeline-stream li .wtwitter-text a{color: #CC0000;}
#wtwitter-root .wtwitter-timeline-footer a.wtwitter-button-seguir{background: #0099cc;color: #ffffff;}
#wtwitter-root .wtwitter-timeline-footer a.wtwitter-button-seguir:hover,
#wtwitter-root .wtwitter-timeline-footer a.wtwitter-button-seguir:focus,
#wtwitter-root .wtwitter-timeline-footer a.wtwitter-button-seguir:active,
{background: #33a6cc;color: #ffffff;}
#wtwitter-root .wtwitter-timeline-footer a.wtwitter-button-twittear{background: #609DBF;color: #ffffff;}
#wtwitter-root .wtwitter-timeline-footer a.wtwitter-button-twittear:hover,
#wtwitter-root .wtwitter-timeline-footer a.wtwitter-button-twittear:focus,
#wtwitter-root .wtwitter-timeline-footer a.wtwitter-button-twittear:active,
{background: #447A98;color: #ffffff;}
/*----------------------------------------------------*/